@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.landing-bg{
  /* background:#2ca2f1; */
}
.landing-description{
  font-size: 16px;
}
.landing-title-1{
  font-size:20px;
}
.front-branding{
  /* height: 10em; */
  padding-top: 40px;
}
.sm-margin{
  margin: 4px;
}
.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sendit-logo{
  width: 140px;
}
.shadow-inset {
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
}
.blue-text{
  color: #107895;
  font-weight: 600;
}
.bold{font-weight: bold;}
.sendit-title{
  font-size: 35px;
  border-bottom: 1px solid rgba(16, 120, 149, 0.15);
}
/* login page */
.goin-btn{
  padding-top: 10px;
}
.sendit-form{
  margin-top: 20px;
}
form {
  margin:0 auto;
}
.sendit-form form{
  width:300px
}
input, select {
  border-radius: 4px;
  margin-bottom:3px;
  padding:10px;
  width: 100%;
  border:1px solid #318cd4;
}
button {
  padding:10px;
  font-weight: 600;
}
.btn-blue{
  background-color: #318cd4;
  color: #ffffff;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #318cd4;
  color: #ffffff;
}
.white-element{
  padding: 6.5px;
  border: 1px solid #318cd4;
  border-radius: 4px;
}
label {
  cursor:pointer
}
#form-switch {
  display:none
}
#register-form {
  display:none
}
#form-switch:checked~#register-form {
  display:block
}
#form-switch:checked~#login-form {
  display:none
}

/* Google maps */
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 20px 20px;
}
.home-content{
  padding-right: 20px;
  padding-left: 20px;
}
#parcel-form{
  float: left;
  width: 30%;
  margin-right: 20px;
}
#map {
  height: 100%;
  float: right;
  width: 60%;
  height: 100%;
}

#weight-details, #location-details{
  border-bottom: 1px solid #cccccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.small-input{
  width: 80px;
}
